.leaderboard {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    border: 1px solid #00FFA4;
    border-radius: 15px;
    margin-bottom: 30px;
}

.leaderboard > h4 {
    padding: 20px;

}

.leaderboard__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    width: 1000px;
}

.leaderboard__container > h2{
    color: white;
}

.leaderboard__container > p{
    color: white;
}

.leaderboard__head {
    color: white;
    flex-direction: row;
    padding-bottom: 10px;
}

.leaderboard__head > h2 {
    color: #00FFA4;
    font-weight: 400;
}